* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }

body {
    background-color: black;
    color: white;
    margin: 0;
}

.content {
  margin-left: 20%;
  padding: 10%;
}

/* NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  height: 100%;
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.content p {
  margin: 5% 0;
}